@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

page {
  --nutui-color-primary: #a05aff;
  --nutui-color-primary-stop-1: #a05aff;
  --nutui-color-primary-stop-2: #a05aff;
  --nutui-table-border-color: rgba(0, 0, 0, 0.05);
  --nutui-button-primary-color: #fff;

}
